/*=========== doc_banner_area_one css ============*/
.doc_banner_area_one {
  height: 750px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(60deg, #41B782 0%, #1d2746 100%);
  position: relative;
  overflow: hidden;
  z-index: 1;

  .star {
    z-index: -1;
  }

  .star_one {
    right: 170px;
    top: 50%;
    animation: star 9s both infinite alternate 5s;
  }

  .star_two {
    top: 33px;
    right: 147px;
    animation: star2 4s ease-in-out infinite alternate;
  }

  .star_three {
    top: 50px;
    left: 347px;
    animation: star 7s ease-in-out infinite alternate;
  }

  .one {
    bottom: 0;
    left: 300px;
  }

  .two {
    bottom: 0;
    right: 320px;
  }

  .three {
    bottom: 0;
    left: 520px;
  }

  .four {
    bottom: 0;
    left: 58%;
    margin-left: -20px;
  }

  .five {
    bottom: 155px;
    left: 74%;
    transform: translateX(-50%);
  }
}

.bl_left {
  width: 150px;
  height: 145px;
  bottom: -7px;
  left: 20px;
  z-index: 1;
}

.bl_right {
  width: 135px;
  height: 110px;
  right: 30px;
  bottom: -7px;
  z-index: 1;
}

.dark {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: 0;
  z-index: -1;
}

.dark_two {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: 0;
  z-index: -1;
}

.star {
  top: 0;
  width: 100%;
  left: 0;
  z-index: 0;
  right: 0;
  height: auto;
}

.doc_banner_text {
  text-align: center;

  h2,
  p,
  h6 {
    color: #fff;
  }

  h2 {
    font-size: 46px;
    margin-bottom: 14px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
  }

  h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 40px;

    span {
      color: #e1e1e1;
      margin-right: 10px;
    }

    a {
      color: #fff;
      margin-right: 10px;
      text-decoration: underline;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .banner_search_form {
    margin-top: 65px;
  }
}

.banner_search_form {
  max-width: 570px;
  margin: 0 auto;
  display: flex;

  .form-control {
    height: 70px;
    border-radius: 4px;
    padding-left: 30px;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    color: $h_title;

    @include placeholder {
      color: #848996;
    }
  }

  button {
    padding: 5px 25px;
    font-size: 20px;
    background: $blue;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all 0.4s linear;
  }
}

/*=========== doc_banner_area_one css ============*/

/*=========== Start doc_banner_area_two css ============*/
.doc_banner_area_two {
  height: 650px;
  background: #daf6fc;
  position: relative;
  z-index: 1;
  padding-top: 160px;

  .table_img {
    left: 200px;
    bottom: -6px;
    width: 250px;
  }

  .flower {
    bottom: 0;
    left: 80px;
  }

  .girl {
    right: 130px;
    bottom: 0;
  }

  .bord {
    bottom: -14px;
    right: 320px;
  }
}

.b_plus,
.b_round,
.p_absolute {
  position: absolute;
}

.b_plus {
  &.one {
    left: 120px;
    top: 120px;
  }

  &.two {
    right: 25%;
    top: 210px;
  }
}

.b_round {
  border-radius: 50%;

  &.r_one {
    right: 135px;
    top: 85px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #83daed;
    animation: spin1 2s infinite alternate;
  }

  &.r_two {
    left: 30%;
    top: 160px;
    width: 8px;
    height: 8px;
    background: #41B782;
    animation: spin2 2s infinite alternate;
  }

  &.r_three {
    background: #ffa3be;
    width: 16px;
    height: 16px;
    left: 24%;
    top: 310px;
    animation: spin1 2.5s infinite alternate;
  }

  &.r_four {
    background: #ffa3be;
    width: 8px;
    height: 8px;
    right: 18%;
    bottom: 380px;
    animation: spin1 1s infinite alternate;
  }
}

.doc_banner_text_two {
  h2 {
    font-size: 46px;
    margin-bottom: 22px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    max-width: 440px;
    margin: 0 auto;
  }

  .banner_search_form {
    max-width: 770px;
    margin: 60px auto 0;

    .form-control {
      margin-right: 20px;
      border-radius: 4px;
      box-shadow: 0 4px 10px 0 rgba(12, 118, 142, 0.06);
    }

    .search_btn {
      border-radius: 4px;
      font-size: 18px;
      font-weight: 400;
      box-shadow: 0 10px 20px 0 rgba(12, 118, 142, 0.1);
      background: $blue;
      padding: 5px 42px;
    }
  }
}

.building_img {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: -1;
}

/*=========== End doc_banner_area_two css ============*/

/*=========== Start Banner Support ============*/
.docly-banner-support {
  height: 945px;
  background-image: linear-gradient(30deg, rgb(254, 239, 236) 0%, rgb(245, 253, 255) 100%);
  padding: 200px 0;
  position: relative;

  @media(max-width: 991px) {
    padding: 150px 0;
  }

  @media(max-width: 768px) {
    padding: 100px 0;
    height: 820px;
  }

  .banner-content-wrapper {
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @media(max-width: 991px) {
      max-width: 90%;
    }

    .banner-title {
      font-size: 44px;
      font-weight: 500;
      color: #1d2746;
      margin-bottom: 12px;


      @media(max-width: 768px) {
        font-size: 34px;
      }
    }

    p {
      font-size: 18px;
      color: #6b707f;
      line-height: 28px;
      margin-bottom: 40px;

      @media(max-width: 991px) {

        br {
          display: none;
        }

      }
    }

    .banner-search-form {
      box-shadow: 0px 4px 10px 0px rgba(49, 12, 2, 0.06);
      max-width: 770px;
      margin: 0 auto;
      display: flex;
      background: #fff;
      border-radius: 30px;


      input {
        width: 100%;
        background: transparent;
        border: 0;
        padding: 15px 30px;
        height: 60px;

        &::placeholder {
          color: #6b707f;
        }
      }

      button {
        background: transparent;
        border: 0;
        padding-right: 20px;
        color: #41B782;
        font-size: 24px;

        i {
          transform: rotate(-90deg);
          display: inline-block;
        }
      }

    }
  }

  .bottom-shape {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;

    img {
      width: 100%;
    }
  }
}

.people-image {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 100%;
  height: 320px;
  max-width: 1250px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 165px;
  z-index: 3;


  @media(max-width: 767px) {
    height: 280px;
  }

  @media(max-width: 576px) {
    bottom: 80px;
  }

  li {
    position: absolute;
    box-shadow: 0px 40px 60px 0px rgba(59, 14, 3, 0.12);
    border-radius: 50%;
    border: 4px solid #fff;
    overflow: hidden;

    img {
      width: 100%;
    }

    &:nth-child(1) {
      left: 50%;
      top: 15px;
      transform: translateX(-50%);
      border: 6px solid #fff;
      height: 130px;
      width: 130px;
      box-shadow: 0px 50px 80px 0px rgba(59, 14, 3, 0.12);
    }

    &:nth-child(2) {
      left: 29.4%;
      top: 0;
      height: 80px;
      width: 80px;

    }

    &:nth-child(3) {
      right: 26.4%;
      top: -5px;
      height: 70px;
      width: 70px;
    }

    &:nth-child(4) {
      left: 160px;
      top: 75px;
      height: 80px;
      width: 80px;

    }

    &:nth-child(5) {
      left: 26.4%;
      bottom: 40px;
      height: 80px;
      width: 80px;
    }

    &:nth-child(6) {
      right: 38%;
      bottom: -20px;
      height: 100px;
      width: 100px;
    }

    &:nth-child(7) {
      right: 85px;
      bottom: 5px;
      width: 90px;
      height: 90px;
    }

    &:nth-child(8) {
      left: 0;
      bottom: 0;
      border: 2px solid #fff;
    }

    &:nth-child(9) {
      right: 22.3%;;
      bottom: 35%;
      height: 50px;
      width: 50px;
      border: 2px solid #fff;
    }

    &:nth-child(10) {
      right: 0;
      bottom: 145px;
      height: 60px;
      width: 60px;
      border: 2px solid #fff;
    }
  }

  @media(max-width: 991px) {
    li {
      &:nth-child(1) {
        height: 110px;
        width: 110px;
      }

      &:nth-child(2) {
        height: 65px;
        width: 65px;
      }


      &:nth-child(3) {
        height: 60px;
        width: 60px;
      }

      &:nth-child(4) {
        height: 65px;
        width: 65px;
      }

      &:nth-child(5) {
        height: 65px;
        width: 65px;
      }

      &:nth-child(6) {
        height: 80px;
        width: 80px;
      }

      &:nth-child(7) {
        height: 70px;
        width: 70px;
      }

      &:nth-child(8) {
        left: 50px;
      }

      &:nth-child(9) {
        right: 27%;
      }

      &:nth-child(10) {
        right: 50px;
      }
    }
  }

  @media(max-width: 768px) {
    li {
      &:nth-child(4) {
        left: 95px;
      }
    }
  }

  @media(max-width: 576px) {
    li {
      &:nth-child(2) {
        left: 13%;
      }

      &:nth-child(3) {
        right: 18%;
      }
    }
  }

  @media(max-width: 440px) {
    li {
      &:nth-child(1) {
        height: 100px;
        width: 100px;
      }

      &:nth-child(4) {
        left: 20px;
      }

      &:nth-child(5) {
        left: 22.4%;
        bottom: 55px;
      }

      &:nth-child(7) {
        right: 25px;
      }

      &:nth-child(8) {
        left: 10px;
      }


      &:nth-child(10) {
        right: 20px;
      }
    }
  }
}


.partical-animation {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 100%;
  height: 550px;
  bottom: 0;
  left: 0;
  z-index: 1;

  li {
    position: absolute;
    border-radius: 50%;

    &:nth-child(1) {
      left: 165px;
      top: 120px;

    }

    &:nth-child(2) {
      left: 19%;
      top: 80px;
      height: 8px;
      width: 8px;
      background: #fd9382;

    }

    &:nth-child(3) {
      left: 19%;
      bottom: 30%;
      height: 10px;
      width: 10px;
      background: #fe97f3;
    }

    &:nth-child(3) {
      left: 28%;
      top: 35%;
      height: 35px;
      width: 35px;
      background: #f3d5de;

    }

    &:nth-child(4) {
      left: 27%;
      bottom: 30%;
      height: 12px;
      width: 12px;
      background: #83daed;

    }

    &:nth-child(5) {
      left: 33%;
      bottom: 50%;
      height: 10px;
      width: 10px;
      background: #fdc43a;

    }

    &:nth-child(6) {
      left: 51%;
      top: 32%;
      height: 48px;
      width: 48px;
      background: #4edfda;

    }

    &:nth-child(7) {
      right: 46%;
      bottom: 27%;
      height: 22px;
      width: 22px;
      background: #f39ab2;

    }

    &:nth-child(8) {
      right: 46%;
      bottom: 27%;
      height: 22px;
      width: 22px;
      background: #f39ab2;

    }

    &:nth-child(9) {
      right: 40%;
      bottom: 60%;
      height: 8px;
      width: 8px;
      background: #ffa3be;

    }

    &:nth-child(10) {
      right: 22%;
      bottom: 30%;
      height: 28px;
      width: 28px;
      background: #bff8c6;

    }

    &:nth-child(11) {
      right: 10%;
      bottom: 55%;
      height: 15px;
      width: 15px;
      background: #ffa3be;
    }


    &:nth-child(12) {
      right: 65px;
      bottom: 160px;
    }
  }

}

/*=========== End Banner Support ============*/

/*=========== Start breadcrumb_area css ============*/
.breadcrumb_area {
  background-image: linear-gradient(60deg, #41B782 0%, #1d2746 100%);
  padding: 190px 0 95px;
  position: relative;

  .one {
    right: 20%;
    bottom: 25px;
  }

  .two {
    left: 20%;
    bottom: 0;
  }

  .banner_search_form {
    max-width: 770px;
    position: relative;
    z-index: 5;

    .form-control {
      height: 65px;
    }

    button {
      background: $blue;
    }
  }

  .custom-select{
    line-height: 65px;
    z-index: 3;

    &:before {
      width: 1px;
      content: "";
      position: absolute;
      left: 0;
      top: 15px;
      bottom: 15px;
      background: #e2e7e9;
      z-index: 1;
    }
  }
}

.wave_shap_one,
.wave_shap_two {
  bottom: 0;
  z-index: 0;
}

.custom-select {
    border-radius: 0;
    font-size: 14px;
    box-shadow: none;
    padding: 0 80px 0 20px;
    height: 100%;
    border: 0;
    background: #fff;
    color: #6b707f;

    &:after {
      border-bottom: 2px solid #6b707f;
      border-right: 2px solid #6b707f;
      height: 8px;
      width: 8px;
      right: 28px;
      margin-top: -6px;
    }

    ul {
      width: 100%;
      padding: 10px 0;
      border-radius: 4px;

      li {
        font-size: 14px;
        color: #6b707f;
        position: relative;
        min-height: 36px;
        line-height: 36px;

        &:before {
          content: "";
          width: 2px;
          height: 0;
          position: absolute;
          left: 0;
          background: #41B782;
          transition: all 0.2s linear;
        }

        &:hover,
        &.selected {
          background: #f4f9fa;
          color: $blue;
          font-weight: 500;

          &:before {
            height: 100%;
          }
        }
      }
    }
  }

/*=========== End breadcrumb_area css ============*/

/*=========== Start breadcrumb_area_two css ============*/
.breadcrumb_area_two {
  background: #edfbfe;
  padding: 50px 0 60px;
}

.breadcrumb_content {
  max-width: 630px;

  h2 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 0;
  }

  .single_post_author {
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding-top: 10px;

    img {
      border-radius: 50%;
      width: 34px;
      height: 34px;
      margin-right: 20px;
    }

    .text {
      flex: 1;

      h4 {
        font-size: 16px;
        display: inline-block;
        font-weight: 400;
        margin-bottom: 0;
      }

      .post_tag {
        display: inline-block;
        padding-left: 12px;

        &:before {
          content: "";
          display: inline-block;
          height: 13px;
          width: 1px;
          background: #B7B9BE;
          margin-right: 12px;
        }
      }

      .c_blue {
        color: #2a74fd;
      }
    }
  }
}

/*=========== End breadcrumb_area_two css ============*/

/*=========== Start breadcrumb_area_three css ============*/
.breadcrumb_area_three {
  background: #f8fafd;
  padding: 157px 0 70px;
  position: relative;
  z-index: 1;

  .one {
    top: 0;
    left: 35px;
  }

  .two {
    left: 280px;
    bottom: 55px;
  }

  .three {
    right: 178px;
    bottom: 55px;
  }

  .four {
    right: 0;
    bottom: 0;
  }
}

.breadcrumb_text {
  text-align: center;
  max-width: 660px;
  margin: 0 auto;

  h2 {
    font-size: 50px;
    line-height: 66px;
    font-weight: 300;
    margin-bottom: 15px;

    span {
      font-weight: 700;
    }
  }

  p {
    margin-bottom: 0;
  }
}

/*=========== End breadcrumb_area_three css ============*/

/*=========== Start page_breadcrumb css ============*/
.page_breadcrumb {
  background: #f0f5f7;
  padding: 16px 0;
  position: relative;
  z-index: 1;

  .row {
    align-items: center;
  }

  .date {
    color: #878EA6;
    float: right;
    font-size: 14px;
    padding-right: 10px;

    i {
      padding-right: 10px;
    }
  }
}

.breadcrumb {
  margin-bottom: 0;
  background: transparent;
  border-radius: 0;
  padding: 0;

  .breadcrumb-item {
    color: #878EA6;
    font-size: 14px;
    line-height: 21px;

    a {
      color: #878EA6;

      &:hover {
        color: $blue;
      }
    }

    & + .breadcrumb-item {
      &:before {
        content: "\35";
        font-family: eleganticons;
        color: #B7B9BE;
      }
    }
  }

  .active {
    color: #1d2746;
  }
}

.breadcrumb_content_two {
  position: relative;
  z-index: 1;

  h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
  }

  .breadcrumb {
    justify-content: center;

    .breadcrumb-item {
      font-size: 16px;
      color: #fff;

      &:before {
        color: #fff;
      }

      a {
        color: #fff;
      }
    }
  }
}

.breadcrumb_area_four {
  overflow: hidden;
}

/*=========== End page_breadcrumb css ============*/