/** === Forum heading bar === **/
.post-header {
  display: flex;
  justify-content: space-between;
  background: #f7f8f9;
  padding: 17px 30px;
  border: 1px solid #eaeeef;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  &.forums-header {
    padding: 17px 15px;
    display: flex;
    text-align: left;
  }

  @media(max-width: 768px) {
    display: block;
    text-align: center;
  }

  @media(max-width: 576px) {
    padding: 15px;
  }

  .support-total-info {
    margin: 0;
    padding: 0;
    list-style: none;

    @media(max-width: 768px) {
      margin-bottom: 20px;
    }

    li {
      display: inline-block;
      font-size: 14px;

      &.open-ticket {
        color: #1d2746;
        font-weight: 500;
      }

      &.close-ticket {

        a {
          color: #6b707f;
        }
      }

      a {
        font-size: 14px;
        font-weight: 500;

        &:hover {
          color: #41B782;
        }
      }

      &:not(:last-child) {
        margin-right: 20px;

      }

      i {
        color: #00ae69;
        margin-right: 10px;
        vertical-align: -2px;
      }

      &:nth-child(1) {
        i {
          color: #f06292;
        }
      }
    }
  }

  .category-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      .dropdown-menu {
        top: 12px !important;
        transform: translate3d(0, 23px, 0) !important;
      }

      &:not(:last-child) {
        margin-right: 10px;

        @media(max-width: 546px) {
          margin-right: 0;
        }
      }

      &:nth-child(4),
      &:nth-child(3) {
        .dropdown-menu {
          right: -11px;
          left: auto !important;
        }
      }

      &:nth-child(4) {
        @media(max-width: 380px) {
          .dropdown-menu {
            width: 190px;
          }
        }
      }

      &:nth-child(3) {
        .title {

          &:before,
          &:after {
            right: 40px;
          }
        }
      }

      &:nth-child(1) {
        .title {

          &:before,
          &:after {
            right: auto;
            left: 30px;
          }
        }
      }

      &:nth-child(2) {
        .title {

          &:before,
          &:after {
            right: auto;
            left: 25px;
          }
        }
      }

    }

    .dropdown-toggle {
      position: relative;
      background: transparent;
      box-shadow: none;
      border: 0;
      color: #6b707f;
      padding: 0 15px;
      font-size: 14px;

      &:after {
        content: "\33";
        font-family: eleganticons;
        border: 0;
        position: absolute;
        top: 50%;
        right: -5px;
        transform: translateY(-58%);
      }
    }

    .btn-secondary:not(:disabled):not(.disabled).active,
    .btn-secondary:not(:disabled):not(.disabled):active,
    .show > .btn-secondary.dropdown-toggle {
      background-color: transparent;
      border: none;
      color: #6b707f;
      box-shadow: none;
    }

    .dropdown-menu {
      border: 1px solid #e6eeef;
      background: #fff;
      box-shadow: 0 30px 40px 0 rgba(4, 73, 89, 0.1);
      padding: 0;
      width: 260px;
      animation: slideDown .12s cubic-bezier(0, .1, .1, 1) backwards;

      @media(max-width: 576px) {
        width: 210px;
      }
    }

    .title {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      background: #f7f8f9;
      border-bottom: 1px solid #e6eeef;
      padding: 14px 20px 11px;
      line-height: 1;
      color: #6b707f;
      position: relative;

      &:before {
        content: '';
        height: 16px;
        width: 16px;
        background: #e6eeef;
        position: absolute;
        right: 30px;
        transform: rotate(45deg);
        top: -8px;
      }

      &:after {
        content: '';
        height: 16px;
        width: 16px;
        background: #f7f8f9;
        position: absolute;
        right: 30px;
        transform: rotate(45deg);
        top: -6px;
      }


    }

    .cate-search-form {
      padding: 0 20px;
      margin-top: 10px;

      input {
        width: 100%;
        background: #fbfcfc;
        border: 2px solid #e2e7e8;
        border-radius: 4px;
        padding: 6px 20px;
        font-size: 14px;

        &::placeholder {
          color: #a8acb6;
        }

        &:focus {
          background: #fff;
        }
      }
    }

    .all-users {
      font-size: 14px;
      padding: 12px 22px;
      border-bottom: 1px solid #e6eeef;
      font-weight: 500;
      color: #6b707f;

      a {
        span {
          border-radius: 4px;
          width: 16px;
          height: 16px;
          background: #27b2da;
          display: inline-block;
          margin-right: 10px;
          vertical-align: -3px;

          &.color-pupple {
            background: #8152e0;
          }

          &.color-yellow {
            background: #fad05a;
          }

          &.color-ass {
            background: #dfdfdf;
          }

          &.color-green {
            background: #22936d;
          }

          &.color-orange {
            background: #f88546;
          }

          &.color-light-green {
            background: #1eba17;
          }

        }

        padding: 7px 0;
        color: #838793;

        &:not(:last-child) {
          border-bottom: 1px solid #e6eeef;
        }

        img {
          width: 20px;
          margin-right: 10px;
          display: inline-block;
        }

        &:hover,
        &:focus {
          background: transparent;
          color: #1d2746;
        }
      }
    }

    .short-by {
      padding: 10px 20px;

      a {
        padding: 7px 0 7px 20px;
        position: relative;
        color: #838793;
        font-size: 14px;

        &.active-short {
          color: #1d2746;

          &:before {
            content: "\4e";
            position: absolute;
            font-family: eleganticons;
            left: 0;
            top: 7px;
            color: #0abe76;
            font-size: 14px;

          }
        }

        &:hover {
          background: transparent;
          color: #1d2746;
        }
      }
    }
  }
}

ul.forum-titles {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;

  li {
    text-align: right;
    font-size: 14px;
  }

  .forum-topic-count, .forum-reply-count {
    flex-basis: 25%;
  }

  .forum-freshness {
    flex-basis: 50%;

    .freshness-box{
      display: flex;
      font-size: 14px;
      line-height: 1.3;
      flex-direction: column;

      a{
        color: #6b707f;
        &:hover {
          color: #41B782;
        }
      }

      .freshness-btm {
        display: flex;
        justify-content: flex-end;
        padding-top: 5px;
        align-items: center;

        a.bbp-author-link {
          padding-right: 10px;
        }

        .bbp-author-avatar {
          img {
            max-width: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.forum-page-content {
  background: #f9fafb;

  .communities-boxes {
    margin: 0 -30px;

    .docly-com-box {
      flex: 0 0 200px;
    }
  }
}

.answer-action {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(4, 73, 89, 0.06);
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;

  @media(max-width: 768px) {
    display: block;
  }

  .action-content {
    display: flex;
    align-items: center;

    .image-wrap {
      margin-right: 30px;
    }

    .ans-title {
      font-size: 20px;
      color: #1d2746;
      font-weight: 500;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  .btn-ans {
    font-size: 16px;
    font-weight: 500;
    padding: 7px 25px;
    box-shadow: none;
    border: 1px solid #41B782;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: transparent;
      color: #41B782;
    }

    @media(max-width: 768px) {
      margin-left: 130px;
      margin-top: 5px;
    }

  }
}

.call-to-action {
  padding: 55px 0;
  background: #1d2746;
  position: relative;

  .container {
    position: relative;
  }

  .overlay-bg {
    position: absolute;
    background-image: url(../img/home_support/overlay_bg.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  .action-content-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 576px) {
      display: block;
      text-align: center;
    }

    .action-title-wrap {
      display: flex;
      align-items: center;

      img {
        padding-right: 45px;
      }

      .action-title {
        color: #fff;
        font-size: 44px;
        line-height: 1.2;
        font-weight: 500;

        @media(max-width: 991px) {
          font-size: 34px;
        }
      }
    }

    .action_btn {
      border: 1px solid #41B782;
      font-size: 16px;
      padding: 9px 25px;
      font-weight: 500;

      &:hover {
        background: transparent;
        border-color: #fff;
        color: #fff;
      }
    }
  }
}

.status_widget {

  .status {
    margin-bottom: 25px;
  }

  .offline {
    color: #f4b130;
    border: 2px solid #f5d597;
    padding: 0px 13px;
    display: inline-block;
    border-radius: 4px;
    margin-left: 5px;
  }

  .title-sm {
    font-size: 16px;
    color: #1d2746;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .open-hours {
    margin-bottom: 30px;

    p {
      margin-bottom: 0;


      @media(min-width: 991px) {
        max-width: 240px;
      }
    }
  }

  .current-time {
    margin-top: 28px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    li {
      float: left;
      width: 50%;
    }
  }
}

.w_tag_list {
  &.style-light {
    li {
      a {
        background: #f0f2f5;

        &:hover {
          background: #e1f3f7;
          color: #41B782;
          box-shadow: none;
        }
      }
    }
  }
}

.usefull-links {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 7px 0;

    i {
      margin-right: 10px;
    }

    a {
      color: #6b707f;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;

      &:hover {
        color: #41B782;
      }

    }
  }
}

.ticket_categories {
  li {
    padding: 12px 0 10px;
    position: relative;

    &:not(:last-child) {
      border-bottom: 1px solid #e4e7e9;
    }

    img {
      margin-right: 10px;
      margin-bottom: 5px;
    }

    a {
      font-size: 16px;
      color: #1d2746;

      &:hover {
        color: #41B782;
      }
    }

    .count {
      position: absolute;
      right: 0;
      background: #ebedf0;
      padding: 4px 7px 2px;
      border-radius: 10px;
      color: #838793;
      font-size: 14px;
      display: inline-block;
      line-height: 1;

      &.count-fill {
        right: 35px;
        background: #0abe76;
        color: #fff;
      }
    }
  }
}